.ad-list-add-button-container {
    text-align: center;
    padding-top: 8px;
}

.ad-list-items {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ad-list-error-message,
.ad-list-empty-message {
    padding: 16px;
    margin: 8px;
    text-align: center;
    background-color: white;
}

.ad-list-error-message::before {
    content: 'An error has been encountered.';
    font-weight: bolder;
    display: block;
    margin-bottom: 8px;
}

.ad-list-item {
    flex: 1;
    padding: 16px;
    margin: 8px;
    background-color: white;
    max-width: 300px;
}

.ad-list-item-name {
    display: block;
    margin-bottom: 16px;
}

.ad-list-item-screenshot {
    display: block;
    max-width: 290px;
    margin: auto;
    margin-bottom: 16px;
}

.ad-list-item-text {
    color: #555;
}

.ad-list-status {
    display: table;
    width: 300px;
    margin: 8px auto 0 auto;
    background-color: white;
    padding: 16px;
}

.ad-list-status-item {
    display: table-row;
}

.ad-list-status-item-name,
.ad-list-status-item-contents {
    display: table-cell;
}

.ad-list-status-item-name {
    text-align: right;
    padding: 2px 8px 2px 0;
    font-weight: bold;
}

.ad-list-status-item-contents-empty {
    color: #777;
}

.ad-list-status-clear-field {
    display: table-row;
    text-align: center;
    column-count: 1;
}

.ad-list-status-clear-field>button {
    display: table-column;
    column-span: all;
}